.App {
  margin: 3rem;
  display: flex;
  column-gap: 20vw;
  flex-direction: column;
  font-size: 1rem;
}


.buttonContainer{
  display: flex;
  width: 60vw;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
 margin-top: 4rem;
  margin-right: auto;
  margin-left: auto;
 
}

button{
  padding: 12px;
  border-radius: 14px;
  background-color: pink;
  color: '#202020';
  border: none;
  outline: none;
  cursor: pointer;
  
}
h5{
  margin-left: auto;
  margin-right: auto;
  
}

